@import url('https://fonts.googleapis.com/?family=Roboto');

/* :root {
  --primary-color: ;
  --dark-color: ;
  --card-color: ;
   --background-color: ;

} */

body {
  margin: 0;
  padding: 0;
  background-color: #3c096c;
  color: white;
  font-size: 1rem;
}

input {
  margin: 20px;
}
