@import url('https://fonts.googleapis.com/?family=Roboto');

/* :root {
  --primary-color: ;
  --dark-color: ;
  --card-color: ;
   --background-color: ;

} */

body {
  margin: 30px;
  padding: 0;
  background-color: #3c096c;
  color: white;
  font-size: 1rem;
}



.joinGame {
  margin-left: 100px;
  
}

.joinInput {
  width: 200px;
  margin-left: 10px;
}

.button {
  height: 35px;
  border: white;
  border-radius: 0%;
  padding-left: 10px;
  padding-right: 10;
  color: white ;
  margin-top: 20px;
  margin-left:100px;
 
  background-color: blue;
}


.startDiv {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.code {
  margin-top: 20px;
}